[Unit]
Description=OLED service
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /etc/rpi_oled_ssd1306_service/display.py

[Install]
WantedBy=basic.target
